<section>
    {{#if articles}}
    <h2>All articles</h2>
    <div class="spacer">
        <ul>
            {{#each articles}}
            <li>
                <a href="/article/details/{{_id}}">{{title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
    {{else}}
        <h3>No Articles in Database :(</h3>
    {{/if}}
</section>