<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheets" href="/styles.css">

    <title>My book Library</title>
</head>

<body>
    <header class="menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/all">View All Books</a>
            </li>
            <li>
                <a href="/add">Add book</a>
            </li>
        </ul>
    </header>

    <div class="container">

        {{{body}}}
        
    </div>

    <footer>SoftUni JS-Web Copyright 2019</footer>

</body>

</html>